## <center>Online Session</center>

In [1]:
import pandas as pd

In [5]:
weather_data={
    'day':['1/1/2020','1/2/2020','1/3/2020','1/4/2020','1/5/2020'],
    'temp':[32,35,28,32,31],
    'windspeed':[6,7,2,4,2]
}

In [6]:
datamy = pd.DataFrame(weather_data)

In [7]:
datamy

        day  temp  windspeed
0  1/1/2020    32          6
1  1/2/2020    35          7
2  1/3/2020    28          2
3  1/4/2020    32          4
4  1/5/2020    31          2

In [8]:
datamy.shape

(5, 3)

# rows operation

In [9]:
datamy.head()

        day  temp  windspeed
0  1/1/2020    32          6
1  1/2/2020    35          7
2  1/3/2020    28          2
3  1/4/2020    32          4
4  1/5/2020    31          2

In [10]:
datamy.tail(2)

        day  temp  windspeed
3  1/4/2020    32          4
4  1/5/2020    31          2

In [12]:
datamy.sample()

        day  temp  windspeed
4  1/5/2020    31          2

In [14]:
datamy[1:3]

        day  temp  windspeed
1  1/2/2020    35          7
2  1/3/2020    28          2

In [15]:
datamy.info

<bound method DataFrame.info of         day  temp  windspeed
0  1/1/2020    32          6
1  1/2/2020    35          7
2  1/3/2020    28          2
3  1/4/2020    32          4
4  1/5/2020    31          2>

# columns Operation

In [16]:
datamy

        day  temp  windspeed
0  1/1/2020    32          6
1  1/2/2020    35          7
2  1/3/2020    28          2
3  1/4/2020    32          4
4  1/5/2020    31          2

In [17]:
datamy.columns

Index(['day', 'temp', 'windspeed'], dtype='object')

In [18]:
datamy['temp']

0    32
1    35
2    28
3    32
4    31
Name: temp, dtype: int64

In [19]:
datamy[['temp','day']]

   temp       day
0    32  1/1/2020
1    35  1/2/2020
2    28  1/3/2020
3    32  1/4/2020
4    31  1/5/2020

# operation on dataframe

In [21]:
datamy['temp'].max()

35

In [22]:
datamy['temp'].min()

28

In [23]:
datamy['temp']>32

0    False
1     True
2    False
3    False
4    False
Name: temp, dtype: bool

In [24]:
datamy[datamy['temp']>31]

        day  temp  windspeed
0  1/1/2020    32          6
1  1/2/2020    35          7
3  1/4/2020    32          4

In [25]:
#standard devition
datamy['temp'].mean()

31.6

In [26]:
#standard devition
datamy['temp'].std()

2.5099800796022267

In [29]:
#standard devition
datamy['temp'].mean()

31.6

In [30]:
datamy[datamy['temp']>= 31]

        day  temp  windspeed
0  1/1/2020    32          6
1  1/2/2020    35          7
3  1/4/2020    32          4
4  1/5/2020    31          2

# Reading Excel/csv file

In [32]:
df = pd.read_csv('./weather_data.csv')

In [33]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [35]:
df.shape

(6, 4)

In [37]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [38]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [39]:
df.sample()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [40]:
df[1:3]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [42]:
df.info

<bound method DataFrame.info of         day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny>

In [43]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [44]:
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [45]:
df[['day','event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [47]:
df['temperature'].max()

35

In [49]:
df['temperature'].min()

24

In [50]:
df['temperature'].mean()

30.333333333333332

In [51]:
df['temperature'].std()

3.8297084310253524