In [6]:
import numpy as np
import pandas as pd

In [7]:
weather ={
    'day':['01/20/2020','01/20/2020','01/20/2020'],
    'temp':[32,'Nan',20],
    'windspeed':[7,'Nan','Nan'],
    'event': ['rain','Sunnt','NAn']
}

In [8]:
wea = pd.DataFrame(weather)
wea

          day temp windspeed  event
0  01/20/2020   32         7   rain
1  01/20/2020  Nan       Nan  Sunnt
2  01/20/2020   20       Nan    NAn

In [9]:
wea.set_index('day', inplace=True)
wea

           temp windspeed  event
day
01/20/2020   32         7   rain
01/20/2020  Nan       Nan  Sunnt
01/20/2020   20       Nan    NAn

In [10]:
newdf = wea.fillna(0)

In [11]:
newdf

           temp windspeed  event
day
01/20/2020   32         7   rain
01/20/2020  Nan       Nan  Sunnt
01/20/2020   20       Nan    NAn

In [13]:
newdf = wea.fillna(method='bfill')
newdf

           temp windspeed  event
day
01/20/2020   32         7   rain
01/20/2020  Nan       Nan  Sunnt
01/20/2020   20       Nan    NAn

In [15]:
newdf = wea.interpolate()
newdf

TypeError: Cannot interpolate with all object-dtype columns in the DataFrame. Try setting at least one column to a numeric dtype.